### 專案名稱: 機器學習練習
### 功能描述: 讀取零股交易行情單
### 版權所有: Dunk  
### 程式撰寫: Dunk  
### 撰寫日期：2020/03/25
### 改版日期:  
### 改版備註:

In [2]:
# 匯入套件
import pandas as pd
import numpy as np
import pprint

In [3]:
#匯入資料
url = "https://www.twse.com.tw/exchangeReport/TWT53U?response=html&selectType=ALL" 
df_original = pd.read_html(url, encoding='utf-8')[0]

# 重新整理欄位名稱
column_list = [str(x[1]) for x in df_original.columns]
df_original.columns = column_list

#顯示資料
df_original

,證券代號,證券名稱,成交股數,成交筆數,成交金額,成交價,最後揭示買價,最後揭示買量,最後揭示賣價,最後揭示賣量
0,0050,元大台灣50,49820,590,3840953,77.10,77.10,201623,77.15,16676
1,0051,元大中型100,645,5,17994,27.90,27.90,1919,28.60,1073
2,0052,富邦科技,101,2,6060,60.00,60.00,2157,63.10,300
3,0053,元大電子,0,0,0,--,34.60,1499,34.87,377
4,0054,元大台商50,0,0,0,--,19.62,1549,--,0
...,...,...,...,...,...,...,...,...,...,...
1099,9945,潤泰新,8492,60,283617,33.40,33.30,8328,33.40,2003
1100,9946,三發地產,1800,7,19887,11.05,11.05,309689,--,0
1101,9955,佳龍,558,3,7476,13.40,13.40,6009,13.50,494
1102,9958,世紀鋼,2015,32,152324,75.60,75.60,7035,75.80,783
1103,NaN,合計,2590278,37040,155603230,--,--,81619966,--,1699155

In [5]:
# 資料前處理
# 顯示欄位種類
import copy
df_source = copy.deepcopy(df_original)
print(df_source.dtypes.value_counts())
print("object")
print(df_source.select_dtypes(include=["object"]).apply(pd.Series.nunique, axis = 0))
print("int64")
print(df_source.select_dtypes(include=["int64"]).apply(pd.Series.nunique, axis = 0))
# 處理異常值
for col_name in df_source.columns:
    if df_source[df_source[col_name] == '--'][col_name].count() >0 :
        df_source.loc[df_source[col_name] == '--',col_name] = 0
        df_source[col_name] = df_source[col_name].apply(pd.to_numeric)

print(df_source.dtypes.value_counts())

object    5
int64     5
dtype: int64
object
證券代號      1103
證券名稱      1104
成交價        693
最後揭示買價     766
最後揭示賣價     610
dtype: int64
int64
成交股數      737
成交筆數      161
成交金額      893
最後揭示買量    958
最後揭示賣量    672
dtype: int64
int64      5
float64    3
object     2
dtype: int64

In [9]:
# 顯示統計值
pprint.pprint(df_source.describe())

               成交股數          成交筆數          成交金額          成交價       最後揭示買價  \
count  1.104000e+03   1104.000000  1.104000e+03  1104.000000  1104.000000
mean   4.692533e+03     67.101449  2.818899e+05    37.212364    40.515670
std    7.824130e+04   1117.071201  4.813026e+06   133.008659   132.423417
min    0.000000e+00      0.000000  0.000000e+00     0.000000     0.000000
25%    5.200000e+01      2.000000  8.795000e+02     5.907500     9.842500
50%    6.255000e+02     11.000000  1.069750e+04    16.800000    19.500000
75%    1.833000e+03     32.000000  5.080550e+04    36.437500    39.612500
max    2.590278e+06  37040.000000  1.556032e+08  3890.000000  3885.000000

             最後揭示買量       最後揭示賣價        最後揭示賣量
count  1.104000e+03  1104.000000  1.104000e+03
mean   1.478623e+05    30.756712  3.078179e+03
std    2.629162e+06   127.902069  5.135229e+04
min    0.000000e+00     0.000000  0.000000e+00
25%    1.880500e+03     0.000000  0.000000e+00
50%    3.514500e+03    13.375000  5.000000e+02
75%    6.321750e+03    30.750000  1.377000e+03
max    8.161997e+07  3890.000000  1.699155e+06